{% extends 'base.html.twig' %}

{% block title %}Wine{% endblock %}

{% block main %}
    <h1>Wine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ wine.name }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ wine.year }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ wine.description }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ wine.imageName }}</td>
            </tr>
            <tr>
                <th>Cépage</th>
                <td>{{ wine.cepage}}</td>
            </tr>
            <tr>
                <th>Région - Pays</th>
                <td>{{ wine.region}} - {{ wine.region.country }} </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_wine_index') }}">back to list</a>

    <a href="{{ path('app_wine_edit', {'id': wine.id}) }}">edit</a>

    {{ include('wine/_delete_form.html.twig') }}
{% endblock %}
