<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{asset ('img/logo.png')}}">
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <header>
            {% block header %}
                <a href="{{ path ('app_home') }}"><img src="{{ asset ('img/logo2.png')}}" alt="Logo myCave"></a>               
                <nav>
                    <ul>
                        <li><a class="{% if app.request.attributes.get('_route') == 'app_home' %}active{% endif %}" href="{{ path ('app_home') }}">Accueil</a></li>
                        <li><a class="{% if app.request.attributes.get('_route') == 'app_cave' %}active{% endif %}" href="{{ path ('app_cave') }}">Cave</a></li>
                        {% if app.user == NULL %}
                            <li><a class="{% if app.request.attributes.get('_route') == 'app_register' %}active{% endif %}" href="{{ path ('app_register') }}">S'enregistrer</a></li>
                            <li><a class="{% if app.request.attributes.get('_route') == 'app_login' %}active{% endif %}" href="{{ path ('app_login') }}">Se connecter</a></li>
                        {% endif %}
                        {% if app.user != NULL %}
                            <li><a class="{% if app.request.attributes.get('_route') == 'app_profil' %}active{% endif %}" href="{{ path ('app_profil') }}">Ma cave</a></li>
                            <li><a href="{{ path ('app_logout') }}">Se déconnecter</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN')  %}
                            <li class="admin"><a href=" {{path('app_admin')}} ">Admin</a></li>
                        {% endif %}

                    </ul>
                </nav>
            {% endblock %}
        </header>

        <main>{% block main %}{% endblock %}</main>

        <footer>
            {% block footer %}
                <a href="{{ path ('app_home') }}"><img src="{{ asset ('img/logo.png')}}" alt="Logo myCave"></a>
                <ul>
                    <li><a class="{% if app.request.attributes.get('_route') == 'app_contact' %}active{% endif %}" href=" {{ path ('app_contact')}} ">Contact</a></li>
                    <li><a class="{% if app.request.attributes.get('_route') == 'app_contact' %}active{% endif %}" href="">Mention Légales</a></li>
                </ul>                
                <ul>
                    <li><a href="https://x.com/"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="https://www.tiktok.com/"><i class="fa-brands fa-tiktok"></i></a></li>
                    <li><a href="https://discord.com/"><i class="fa-brands fa-discord"></i></a></li>
                </ul>
            {% endblock %}
        </footer>
    </body>
</html>
 