<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{asset ('img/logo.png')}}">
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <header>
            {% block header %}
                <nav>
                    <ul>
                        <li><a href="{{ path ('app_home') }}">Accueil</a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        {% if app.user == NULL %}
                            <li><a href="{{ path ('app_register') }}">S'enregistrer</a></li>
                            <li><a href="{{ path ('app_login') }}">Se connecter</a></li>
                        {% endif %}
                        {% if app.user != NULL %}
                            <li><a href="{{ path ('app_profil') }}">Mon Profil</a></li>
                            <li><a href="{{ path ('app_logout') }}">Se déconnecter</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
        </header>

        <main>{% block main %}{% endblock %}</main>

        <footer>
            {% block footer %}
            
            {% endblock %}
        </footer>
    </body>
</html>
